/* ARROWS */
.arrow-up {
    display: inline-block;
    margin: auto 6px 1px 6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 6px 5px;
    border-color: transparent transparent #fff transparent;
    opacity: 0.5;
}
.arrow-down {
    display: inline-block;
    margin: auto 6px 0px 6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #fff transparent transparent transparent;
    opacity: 0.5;
}

.arrow-down:hover, .arrow-up:hover {
  opacity: 0.75;
}

/* LABELS */
.label-container {
    position: absolute;
    z-index: 101;
    background-color: rgba(0,0,0,0.75);
    color: #fff;
    border: 0px;
    border-radius: 4px;
    padding: 0px;
    font-family: Arial, serif;
    font-size: 12px;
}
.label-container.right:after { /* label on the right of the element */
	right: 100%;
	top: 12px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: rgba(0,0,0,0.75);
  border-width: 5px;
  margin-top: -5px;
}
.label-container.left:after { /* label on the left of the element */
	left: 100%;
	top: 12px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-left-color: rgba(0,0,0,0.75);
	border-width: 4px;
	margin-top: -4px;
}
.label-container.top:after { /* label above the element */
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: rgba(0,0,0,0.75);
  border-width: 4px;
  margin-left: -4px;
}
.label-container.bottom:after { /* label below the element */
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: rgba(0,0,0,0.75);
  border-width: 4px;
  margin-left: -4px;
}

.label-container [class*="icon-"] {
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 0;
  vertical-align: middle;
  background-image: url("../img/label_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  margin-top: -1px;
  opacity: 0.75;
}

.label-container [class*="icon-"]:hover {
  opacity: 1.0;
}

.label-container .icon-speaker {
  background-position: 0 0;
}
.label-container .icon-close {
  background-position: -22px 0;
  margin: 0;
  margin-top: -1px;
  border-left: 1px solid #444;
}
.label-container .icon-collapse {
  background-position: -66px 0;
  margin: 0;
  margin-top: -1px;
  border-left: 1px solid #444;
}
.label-container .icon-expand {
  background-position: -88px 0;
  margin: 0;
  margin-top: -1px;
  border-left: 1px solid #444;
}

.label-container-header > span {
  height: 22px;
  line-height: 22px;
  display: inline-block;
}

.label-container.right .label-container-header > span {
  padding: 0 10px 0 10px;
}
.label-container.left .label-container-header > span {
  padding: 0 10px 0 10px;
}

.label-container .options {
    display: none;
    padding: 3px;
    list-style-type: none;
    border-top: 1px solid #444;
    margin: 0;
    color: #fff;
    font-size: 12px;
}
.label-container .options li {
  padding: 5px;
  color: #ccc;
}
.label-container .options li:hover {
  color: #fff;
}
.label-container .options li:not(:last-child) {

}

/* ANNOTATIONS */
.annotationPin {
    position: absolute;
    width: 0;
    height: 0;
    padding: 4px;
    margin-left: -5px;
    margin-top: -5px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 50%;
    background-color: #fff;
    z-index: 125;
}

.annotationPin:after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    margin-left: -2px;
    margin-top: -2px;
    background-color: #990000;
    border-radius: 50%;
}

/*  Annotation Wires */

.annotationWire {
    position: absolute;
    height: 0;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #ccc;
    z-index: 124;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}

.annotationContainer.left + .annotationWire {
    margin-top: -1px; /* Correct for rotation rendering issue */
}

/*  Annotation Labels */

.annotationContainer {
    box-sizing: border-box;
    position: absolute;
    font-size: 12px;
    min-width: 100px;
    max-width: 200px;
    color: rgb(238, 238, 238);
    text-shadow: rgb(56, 61, 68) 1px 1px 1px;
    z-index: 124;
}

.annotationContainer * {
    box-sizing: border-box;
}

.annotationContainer:not(.editing) input,
.annotationContainer:not(.editing) textarea,
.annotationContainer.editing h1, .annotationContainer.editing p,
.annotationContainer:not(.editable) .annotationDelete {
    display: none;
}

.annotationContainer.editable:not(.editing):hover .annotationDelete {
    visibility: visible;
}

.annotationTitle {
    width: 100%;
    line-height: 18px;
    padding-bottom: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
}

.annotationTitle > h1, .annotationTitle > input {
    min-height: 18px;
}

.annotationTitle h1 {
    font-size: 14px;
    display: inline-block;
    /* constrain to label max-width - annotationDelete outer-width */
    max-width: 167px;
}

.annotationDelete {
    box-sizing: initial;
    display: inline-block;
    visibility: hidden;
    float: right;
    width: 16px;
    height: 16px;
    padding: 2px;
    border: none;
    border-radius: 3px;
    margin: 0 0 -2px 13px;
    background: none;
    cursor: pointer;
}

.annotationDelete:after {
    content: ' ';
    display: block;
    width: inherit;
    height: inherit;
    background-image: url("../img/icons_sprite_16x16.png");
    background-repeat: no-repeat;
    background-position: -272px -48px;
}

.annotationDelete:hover,
.annotationDelete:focus {
    background-color: rgba(255,255,255, .3);
}

.annotationDescription {
    padding: 5px 5px 3px 0;
}

.annotationDescription > *::-webkit-scrollbar {
    height: 1.0ex; /* horizontal scrollbar */
    width: 3px; /* vertical scrollbar */
    -webkit-border-radius: 0px;
}

.annotationDescription > *::-webkit-scrollbar-thumb {
    opacity: 0.35;
    background: rgba(100,100,100,0.3);
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.7);
}

.annotationDescription > p {
    max-height: 100px;
    overflow: auto;
}

.annotationContainer input,
.annotationContainer textarea {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(200,200,200,0.2);
    border-radius: 3px;
    background: none;
}

/* Annoyingly, these selectors need to be defined separately */
.annotationContainer ::-webkit-input-placeholder {
    color: #fff;
    opacity: 1.0;
}

.annotationContainer ::-moz-placeholder {
    color: #fff;
    opacity: 1.0;
}

.annotationContainer :-moz-placeholder {
    color: #fff;
    opacity: 1.0;
}

.annotationContainer :-ms-input-placeholder {
    color: #fff;
    opacity: 1.0;
}

.annotationContainer input:hover,
.annotationContainer textarea:hover,
.annotationContainer input:focus,
.annotationContainer textarea:focus {
    /*background-color: rgba(255,255,255, .1);*/
}

.annotationContainer textarea {
    width: 100%;
    min-height: 50px;
    max-height: 100px;
    resize: none;
}